In [250]:
import warnings
warnings.filterwarnings("ignore")

In [251]:
import pandas as pd
import numpy as np

In [252]:
movies=pd.read_csv("IMDbMoviesIndia.csv",encoding='latin1')

In [253]:
movies.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [254]:
movies.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
15504    False
15505    False
15506    False
15507    False
15508    False
Length: 15509, dtype: bool

In [255]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

In [256]:
movies.columns

Index(['Name', 'Year', 'Duration', 'Genre', 'Rating', 'Votes', 'Director',
       'Actor 1', 'Actor 2', 'Actor 3'],
      dtype='object')

In [257]:
print(movies.nunique())

Name        13838
Year          102
Duration      182
Genre         485
Rating         84
Votes        2034
Director     5938
Actor 1      4718
Actor 2      4891
Actor 3      4820
dtype: int64

In [258]:
movies.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [259]:
movies[cat_col].nunique()

Genre        485
Director    5938
Actor 1     4718
Actor 2     4891
Actor 3     4820
dtype: int64

In [260]:
round((movies.isnull().sum()/movies.shape[0])*100,2)

Name         0.00
Year         3.40
Duration    53.32
Genre       12.10
Rating      48.94
Votes       48.93
Director     3.39
Actor 1     10.43
Actor 2     15.37
Actor 3     20.27
dtype: float64

In [261]:
movies.describe()

            Rating
count  7919.000000
mean      5.841621
std       1.381777
min       1.100000
25%       4.900000
50%       6.000000
75%       6.800000
max      10.000000

In [262]:
movies['Rating'].fillna(movies['Rating'].mean())

0        5.841621
1        7.000000
2        5.841621
3        4.400000
4        5.841621
           ...
15504    4.600000
15505    4.500000
15506    5.841621
15507    5.841621
15508    6.200000
Name: Rating, Length: 15509, dtype: float64

In [263]:
movies=movies.dropna(subset=['Year'],axis=0)
movies=movies.dropna(subset=['Director'],axis=0)

In [264]:
movies['Year'].unique()

array(['(2019)', '(2021)', '(2010)', '(1997)', '(2005)', '(2008)',
       '(2012)', '(2014)', '(2004)', '(2016)', '(1991)', '(1990)',
       '(2018)', '(1987)', '(1948)', '(1958)', '(2017)', '(2020)',
       '(2009)', '(2002)', '(1993)', '(1946)', '(1994)', '(2007)',
       '(2013)', '(2003)', '(1998)', '(1979)', '(1951)', '(1956)',
       '(1974)', '(2015)', '(2006)', '(1981)', '(1985)', '(2011)',
       '(2001)', '(1967)', '(1988)', '(1995)', '(1959)', '(1996)',
       '(1970)', '(1976)', '(2000)', '(1999)', '(1973)', '(1968)',
       '(1943)', '(1953)', '(1986)', '(1989)', '(1982)', '(1977)',
       '(1957)', '(1950)', '(1992)', '(1969)', '(1975)', '(1947)',
       '(1972)', '(1971)', '(1935)', '(1978)', '(1960)', '(1944)',
       '(1963)', '(1940)', '(1984)', '(1934)', '(1955)', '(1936)',
       '(1980)', '(1966)', '(1949)', '(1962)', '(1964)', '(1952)',
       '(1933)', '(1942)', '(1983)', '(1939)', '(1954)', '(1945)',
       '(1961)', '(1965)', '(1938)', '(1941)', '(1931)', '(1937)',
       '(2022)', '(1932)', '(1923)', '(1915)', '(1928)', '(1922)',
       '(1917)', '(1913)', '(1930)', '(1926)', '(1914)', '(1924)'],
      dtype=object)

In [265]:
movies['Year'].head()

1    (2019)
2    (2021)
3    (2019)
4    (2010)
5    (1997)
Name: Year, dtype: object

In [266]:
movies['Year'] = movies['Year'].str.replace('(', '', regex=False).str.replace(')', '', regex=False).astype(int)

movies.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,#Gadhvi (He thought he was Gandhi),2019,109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,2021,90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,2019,110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,2010,105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
5,...Aur Pyaar Ho Gaya,1997,147 min,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor

In [267]:
# numerical columns 
num_col = [col for col in movies.columns if movies[col].dtype != 'object'] 
print('Numerical columns :',num_col)

Numerical columns : ['Year', 'Rating']

In [268]:
movies["Duration"] = movies.loc[:,"Duration"].str.replace(" min","")
movies["Duration"] = pd.to_numeric(movies.loc[:,"Duration"])

In [269]:
#dropping statistically insignificant columns
movies.drop(columns=['Name'],axis=1,inplace=True)
movies.head()

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109.0,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,2021,90.0,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,2019,110.0,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,2010,105.0,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
5,1997,147.0,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor

In [270]:
movies.shape

(14484, 9)

In [271]:
movies.duplicated().sum()

66

In [272]:
movies.drop_duplicates(inplace=True)
movies.duplicated().sum()

0

In [273]:
movies.isna().sum()

Year           0
Duration    7317
Genre       1791
Rating      6505
Votes       6504
Director       0
Actor 1      936
Actor 2     1641
Actor 3     2349
dtype: int64

In [274]:
mean = movies['Rating'].mean()
movies['Rating'].fillna(mean,inplace=True)

In [275]:
movies.isna().sum()

Year           0
Duration    7317
Genre       1791
Rating         0
Votes       6504
Director       0
Actor 1      936
Actor 2     1641
Actor 3     2349
dtype: int64

In [276]:
movies= movies.dropna(subset=["Genre","Actor 1","Actor 2","Actor 3",'Votes'])

In [277]:
movies.isna().sum()

Year           0
Duration    1900
Genre          0
Rating         0
Votes          0
Director       0
Actor 1        0
Actor 2        0
Actor 3        0
dtype: int64

In [278]:
movies['Votes'].head()

1        8
3       35
5      827
6    1,086
8      326
Name: Votes, dtype: object

In [279]:
movies['Votes'].unique()

array(['8', '35', '827', ..., '70,344', '408', '1,496'], dtype=object)

In [280]:
# function to clean the Votes column
def clean_votes(votes):
    if 'M' in votes:
        # Remove the dollar sign and 'M', then convert to float and scale
        return float(votes.replace('$', '').replace('M', '')) * 1_000_000
    else:
        return int(votes.replace(',', ''))

# apply the cleaning function
movies['Votes'] = movies['Votes'].apply(clean_votes)

# convert to numeric
movies['Votes'] = pd.to_numeric(movies['Votes'])

In [281]:
# categorical columns 
cat_col = [col for col in movies.columns if movies[col].dtype == 'object'] 
print('Categorical columns :',cat_col)

Categorical columns : ['Genre', 'Director', 'Actor 1', 'Actor 2', 'Actor 3']

In [282]:
movies.head()

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109.0,Drama,7.0,8.0,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
3,2019,110.0,"Comedy, Romance",4.4,35.0,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
5,1997,147.0,"Comedy, Drama, Musical",4.7,827.0,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
6,2005,142.0,"Drama, Romance, War",7.4,1086.0,Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Yashpal Sharma
8,2012,82.0,"Horror, Mystery, Thriller",5.6,326.0,Allyson Patel,Yash Dave,Muntazir Ahmad,Kiran Bhatia

In [283]:
!pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\elitebook\anaconda3\lib\site-packages (2.6.3)
Requirement already satisfied: numpy>=1.14.0 in c:\users\elitebook\anaconda3\lib\site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\elitebook\anaconda3\lib\site-packages (from category_encoders) (1.4.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\elitebook\anaconda3\lib\site-packages (from category_encoders) (1.13.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\elitebook\anaconda3\lib\site-packages (from category_encoders) (0.14.2)
Requirement already satisfied: pandas>=1.0.5 in c:\users\elitebook\anaconda3\lib\site-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in c:\users\elitebook\anaconda3\lib\site-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\elitebook\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\elitebook\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\elitebook\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in c:\users\elitebook\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\elitebook\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\elitebook\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: packaging>=21.3 in c:\users\elitebook\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (23.2)

In [284]:
#encoding data using JamesSteinEncoder
import category_encoders as ce
encoder = ce.JamesSteinEncoder(return_df=True)

In [285]:
X = movies.drop(columns="Rating")
y = movies["Rating"]

In [286]:
y.head()

1    7.0
3    4.4
5    4.7
6    7.4
8    5.6
Name: Rating, dtype: float64

In [287]:
X.head()

,Year,Duration,Genre,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109.0,Drama,8.0,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
3,2019,110.0,"Comedy, Romance",35.0,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
5,1997,147.0,"Comedy, Drama, Musical",827.0,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
6,2005,142.0,"Drama, Romance, War",1086.0,Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Yashpal Sharma
8,2012,82.0,"Horror, Mystery, Thriller",326.0,Allyson Patel,Yash Dave,Muntazir Ahmad,Kiran Bhatia

In [288]:
encoder.fit(X,y)
X = encoder.transform(X.loc[:,:])

In [289]:
X

,Year,Duration,Genre,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109.0,6.106610,8.0,7.000000,6.825632,7.000000,7.000000
3,2019,110.0,5.752140,35.0,4.400000,5.569284,4.400000,4.453624
5,1997,147.0,6.041448,827.0,5.563119,5.212804,5.799571,5.787568
6,2005,142.0,6.370565,1086.0,7.236278,5.531866,5.894946,6.164453
8,2012,82.0,5.644507,326.0,5.600000,5.600000,5.839763,5.600000
...,...,...,...,...,...,...,...,...
15501,1992,NaN,5.705772,135.0,5.610877,5.771331,5.998089,5.148281
15503,1989,125.0,5.705772,44.0,5.858696,6.215022,5.800000,5.842035
15504,1988,NaN,5.383161,11.0,4.613504,5.907224,4.678722,4.600000
15505,1999,129.0,5.609101,655.0,5.357618,5.638174,4.877928,5.702996
15508,1998,130.0,5.609101,20.0,4.986697,5.771331,5.601870,5.467982

In [290]:
#normalizing data using Robust scaler
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
scaler.fit(X)
X.loc[:,:] = scaler.transform(X.loc[:,:])

In [291]:
X

,Year,Duration,Genre,Votes,Director,Actor 1,Actor 2,Actor 3
1,0.741935,-0.838710,0.678591,-0.121005,1.160388,1.198991,1.415744,1.396118
3,0.741935,-0.806452,-0.050020,-0.059361,-1.438452,-0.369234,-1.778346,-1.715340
5,0.032258,0.387097,0.544649,1.748858,-0.275853,-0.814207,-0.058979,-0.085373
6,0.290323,0.225806,1.221148,2.340183,1.396560,-0.415941,0.058189,0.375149
8,0.516129,-1.709677,-0.271260,0.605023,-0.238988,-0.330893,-0.009602,-0.314565
...,...,...,...,...,...,...,...,...
15501,-0.129032,NaN,-0.145331,0.168950,-0.228115,-0.117031,0.184900,-0.866527
15503,-0.225806,-0.322581,-0.145331,-0.038813,0.019593,0.436803,-0.058451,-0.018818
15504,-0.258065,NaN,-0.808454,-0.114155,-1.225044,0.052596,-1.435937,-1.536481
15505,0.096774,-0.193548,-0.344037,1.356164,-0.481262,-0.283243,-1.191214,-0.188712
15508,0.064516,-0.161290,-0.344037,-0.093607,-0.852017,-0.117031,-0.301854,-0.475880

In [292]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\elitebook\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: numpy in c:\users\elitebook\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\elitebook\anaconda3\lib\site-packages (from xgboost) (1.13.1)

In [293]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=12,shuffle=True)

In [294]:
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_squared_error

# initialize
xgb_model = XGBRegressor(objective='reg:squarederror', gamma=0.09, learning_rate=0.08, subsample=0.7)

In [295]:
xgb_model.fit(X_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=0.09, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.08, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [296]:
xgb_model.score(X_train,y_train)

0.9007091886687817

In [297]:
xgb_model.score(X_test,y_test)

0.8395274823734544

In [298]:
y_pred = xgb_model.predict(X_test)

In [299]:
# Calculate regression metrics
def regression_results(y_true, y_pred):
    r2 = r2_score(y_true, y_pred)
    rmse = mean_squared_error(y_true, y_pred, squared=False)
    return f"R^2: {r2:.4f}, RMSE: {rmse:.2f}"

# the XGBoost model report
print("XGBoost Model Report:")
print(regression_results(y_test, y_pred))

XGBoost Model Report:
R^2: 0.8395, RMSE: 0.54

In [300]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(xgb_model,X,y,cv=10)
avg = np.mean(score)
print(f"cross validation score for XGBoost:{score}")
print(f"average cross validation score for XGBoost:{avg}\n")

cross validation score for XGBoost:[0.83291404 0.82405006 0.82817808 0.84510056 0.84626571 0.85669864
 0.81964298 0.8028544  0.79046343 0.85368245]
average cross validation score for XGBoost:0.8299850349054442